.doswidith{
    width: 2%;
}
.trewidith{
    width: 2%;
}
.sietewidith{
    width: 7%;
}
.vswidith{
    width: 27%;
}
.xwidith{
    width: 5%;
}
.uwidith{
    width: 10%;
}
.uxwidith{
    width: 15%;
}
.dwidith{
    width: 20%;
}
.dxwidith{
    width: 25%;
}
.twidith{
    width: 30%;
}
.txwidith{
    width: 35%;
}
.fwidith{
    width: 40%;
}
.fxwidith{
    width: 45%;
}
.fxxwidith{
    width: 48%;
}
.cwidith{
    width: 50%;
}
.cxwidith{
    width: 55%;
}
.swidith{
    width: 60%;
}
.sxwidith{
    width: 65%;
}
.siwidith{
    width: 70%;
}
.sixwidith{
    width: 75%;
}
.owidith{
    width: 80%;
}
.oxwidith{
    width: 85%;
}
.nwidith{
    width: 90%;
}
.nxwidith{
    width: 95%;
}
.mwidith{
    width: 100%;
}